<template>
  <admin-layout>
    <div>
      <router-view />
    </div>

    <template #menu>
      <admin-menu :items="menu" />
    </template>

    <template #nav>
      <admin-navbar
        @toggle="
          (a) => {
            showMenus = a;
          }
        "
      >
        <template #left>
          <admin-menu :items="menu" @clicked="clicked" />
          <span>{{ user.nombre }}</span>
          <button type="button" @click="doLogout">Logout</button>
        </template>

        <template #right>
          <span>{{ user.nombre }}</span>
          <button type="button" @click="doLogout">Logout</button>
        </template>

        <template #toggler-text>
          <span class="navbar-toggler-icon"></span>
        </template>
      </admin-navbar>
    </template>

    <template #footer>
      <admin-footer> &copy; {{ year }} </admin-footer>
    </template>
  </admin-layout>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import useUserStore from "../store/user";
import { storeToRefs } from "pinia";
import menu from "../config/menu";

const store = useUserStore();

const { user } = storeToRefs(store);

const router = useRouter();

const showMenus = ref(false);

const year = new Date().getFullYear();

onMounted(async () => {
  if (!user.id) {
    await store.getUser();
  }
});

const doLogout = async () => {
  await store.logout();
  await router.push({ name: "Home" });
};
</script>
