<template>
  <form-maker v-model="user" :fields="loginFields" :loading="loading" @submit="doSubmit" />
</template>

<script setup>
import { reactive } from "vue";
import { useRouter } from "vue-router";
import useUserStore from "../store/user";

const store = useUserStore();
const router = useRouter();

const user = reactive({
  username: null,
  password: null,
});

const loginFields = [
  [
    {
      name: "username",
      placeholder: "User",
    },
  ],
  [
    {
      name: "password",
      type: "password",
      placeholder: "Password",
    },
  ],
];

const doSubmit = async () => {
  await store.loginUser(user);
  await router.push({ name: "Home" });
};
</script>
