<script setup>
import { useRouter } from "vue-router";

const router = useRouter();

const back = () => router.go(-1);
</script>

<template>
  <div>
    <p>Don't have permissions to view this section</p>
    <button type="button" @click="back">Go Back</button>
  </div>
</template>
