<script setup>
import { useRouter } from "vue-router";

const router = useRouter();

const back = () => router.go(-1);
</script>

<template>
  <p>Not Found</p>
  <button type="button" @click="back">Go back</button>
</template>
