<template>
  <form-maker v-model="item" :fields="formFields" :loading="loading" :errors="errors" @submit="handleSubmit">
    <template #extra-buttons>
      <button type="button" @click="router.go(-1)">Cancel</button>
    </template>
  </form-maker>
</template>

<script setup>
import { reactive, toRaw, onMounted, onUnmounted, watch } from "vue";
import cloneDeep from 'lodash.clonedeep';
import use<%= moduleNameCap %>Store from "../store";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { updateFormErrors } from "../../../utils";
import form from "../form";

const props = defineProps({
  id: {
    type: Number,
    default: 0,
  },
});

const router = useRouter();

const store = use<%= moduleNameCap %>Store();

const { loading, errors } = storeToRefs(store);

const item = reactive({});

const formFields = reactive(cloneDeep(form));

watch(errors, (newVal) => updateFormErrors(newVal, formFields));

const handleSubmit = async () => {
  try {
    await store.resetErrors();
    await store.saveItem(toRaw(item));
    await router.back();
  } catch (e) {}
};

onMounted(async () => {
  if (!item.id && props.id !== "0") {
    await store.getItem(props.id);
    Object.keys(store.currentItem).forEach((key) => {
      item[key] = store.currentItem[key];
    });
  }
});

onUnmounted(async () => {
  await store.resetItem();
  await store.resetErrors()
});
</script>
