import httpClient from "../../../config/httpClient";

export const getList = async (params) => {
  const queryString = new URLSearchParams();
  Object.keys(params)
    .filter((param) => !!params[param])
    .forEach((param) => {
      queryString.append(param, params[param]);
    });
  return await httpClient.get(`<%= moduleUrl %>?${queryString.toString()}`);
};

export const getItem = async (id) => {
  return await httpClient.get(`<%= moduleUrl %>/${id}`);
};

export const saveItem = async (item) => {
  if (item.id) {
    return await httpClient.put(`<%= moduleUrl %>/${item.id}`, item);
  } else {
    return await httpClient.post("<%= moduleUrl %>", item);
  }
};

export const deleteItem = async (item) => {
  await httpClient.delete(`<%= moduleUrl %>/${item.id}`);
}
