<template>
  <admin-layout>
    <div class="p-4 flex-grow">
      <router-view />
    </div>

    <template #menu>
      <admin-menu :items="menu" />
    </template>

    <template #nav>
      <admin-navbar
        :expanded="showMenus"
        @toggle="(a) => { showMenus = a }"
      >
        <template #toggle-menu>
          <admin-menu :items="menu" @clicked="menuClicked" />
          <span>{{ user.name }}</span>
          <button type="button" @click="doLogout">Logout</button>
        </template>

        <template #right>
          <span>{{ user.name }}</span>
          <button type="button" @click="doLogout">Logout</button>
        </template>

        <template #toggler-text>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </template>
      </admin-navbar>
    </template>

    <template #footer>
      <admin-footer> &copy; {{ year }} </admin-footer>
    </template>
  </admin-layout>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import useUserStore from "../store/user";
import { storeToRefs } from "pinia";
import menu from "../config/menu";

const store = useUserStore();

const { user } = storeToRefs(store);

const router = useRouter();

const showMenus = ref(false);

const year = new Date().getFullYear();

onMounted(async () => {
  if (!user.id) {
    await store.getUser();
  }
});

const menuClicked = () => {
  showMenus.value = false;
}

const doLogout = async () => {
  await store.logout();
  await router.push({ name: "Home" });
};
</script>
